<%- include("partials/header.ejs") %>
<main class="mb-5">
    <div class="container mt-4">
        <h2>Dodaj nowy post</h2>
        <form id="postForm" class="add-comment-form" action="/submit-form" method="POST">
            <div class="form-group">
                <label for="title">Tytuł:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="content">Treść:</label>
                <textarea id="content" name="content" rows="8" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Zdjęcie (URL):</label>
                <input type="url" id="image" name="image">
            </div>
            <div class="button-group d-flex justify-content-between">
                <button type="submit" class="btn btn-custom">Zapisz Post</button>
                <button type="button" class="btn btn-custom">Podgląd</button>
            </div>
        </form>
    </div>
</main>

<%- include("partials/footer.ejs") %>